.wrapper {
  margin-top: 5%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 4%;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.btn-breadcrum {
  cursor: pointer;
}

.form-group {
  margin: auto;
  width: 65%;
  border: 1px solid gray;
  padding: 10px;
}

.submit-btn {
  margin: auto;
  width: 25%;
  padding: 10px;
}